/* ------------------------------------------------RESETS */
*,
*::before,
*::after {
  box-sizing: border-box; 
}

* {
    padding: 0;
    margin: 0;
}
/* -------------------------------------------------------------- IMPORTS----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Oswald:wght@500&family=Roboto+Mono&family=Ubuntu:wght@400;700&display=swap');


:root {
  --light-blue: #5fa2c3;
  --grey: #9e9c9c;
  --red: #e61a21;
  --light-red: #e74536;
  --white: #fff;
  --dark-blue: #051417;
  --blue: #1a5eb3;
  --yellow: #ffc800;
  --green: #28e61a;
  --gradient: linear-gradient(90deg, #800080, #e74536, #800080);
}
/* ---------------  /End Roots  -------------- */

/* Body */
html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
  background-color: var(--grey);
}


/* Navbar */

#introNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--grey);
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
.navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Ubuntu", 'Oswald', monospace;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand {
  img {
      height: 1.5rem;
  }
}

.navbar-nav {
    .nav-item {
        .nav-link {
          font-family: "Ubuntu", 'Oswald', monospace;
            font-size: 1rem;
            color: var(--white);
            letter-spacing: 0.0252em;

            &.active,
            &:hover {
                color: var(--yellow);
            }
        }
    }
}


/* Intro */

.Intro {
  padding-top: 10.5rem;
  padding-bottom: 1rem;
  text-align: center;
  background-image: url(../images/intro-img-2.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  filter: brightness(93%); 
}
.Intro-subheading {
  font-size: 3.5rem;
}
.Intro-heading,.Intro-subheading, p {
  color: var(--white);
}
.Intro-heading:first{
  margin: 1.5rem;
}
.second{
  margin-bottom: 1.5rem;
}
.Intro-heading {
  font-size: 1.5rem;
}
header p{
  margin-top: 2rem;
}
.log-btn {
  margin: 1.75rem;
}
.reg-link {
  color: var(--white);
  cursor: pointer;
}
.reg-link:hover {
  color: var(--yellow);
}

/* Footer */
.footer {
  text-align: center;
  font-size: 1.2rem;
}

.yellow,.btn-social:hover,.footer-cont:hover {
  color: var(--yellow);
}

/* Button */
.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Ubuntu", 'Oswald', monospace;
  font-size: 1.125rem;
  font-weight: bold;
}

.log-btn:hover, .reg-btn:hover {
  background-color: var(--white);
  color: var(--blue);
}

/* Footer Links */
.btn-social {
  height: 2.85rem;
  width: 2.85rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.btn-social i {
  font-size: 24px;
}

.login-page, .register-page {
  padding-top: 4.5rem;
  padding-bottom: 2.9rem;
  text-align: center;
  background-image: url(../images/intro-img-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(93%); 
}
.login-page {
  padding-bottom: 11.2rem;
}
.reg-log-title {
  font-size: 56px;
  color: var(--white);
}

.mess-1 {
  margin: 1.5rem auto 3rem auto;
}
.mess-2 {
  margin-top: 1rem;
}

.form-floating {
  margin: .5rem;
}

.black {
  color: #000;
  font-weight: bolder;
}
.black a {
  color: #fff;
  text-decoration: none;
}
.black a:hover {
  color: var(--yellow);
  text-decoration: underline var(--white);
}
.form-signin {
  max-width: 430px;
  padding: 1rem;
}
.grey-container {
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
  background-color: rgba(21, 21, 21, 0.311);
  border-radius: 15px;
}



/* Media screen width equal to or greater than the large breakpoint */
@media (min-width: 1200px) {
    
}

@media (max-width: 990px) {
  section {
    padding: 9rem 0;
  }
}