/* ------------------------------------------------RESETS */
*,
*::before,
*::after {
  box-sizing: border-box; 
}

* {
    padding: 0;
    margin: 0;
}
/* -------------------------------------------------------------- IMPORTS----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Oswald:wght@500&family=Roboto+Mono&family=Ubuntu:wght@400;700&display=swap');


:root {
  --light-blue: #40a6da;
  --grey: #9e9c9c;
  --red: #e61a21;
  --light-red: #e74536;
  --white: #fff;
  --dark-blue: #051417;
  --blue: #1a5eb3;
  --yellow: #ffc800;
  --green: #28e61a;
  --gradient: linear-gradient(90deg, #800080, #e74536, #800080);
}
/* ---------------  /End Roots  -------------- */

/* Body */
html {
  scroll-padding-top: 4.5rem;
}
.light-blue {
  color: var(--light-blue);
}

body {
  position: relative;
  background-color: var(--grey);
  font-family: "Ubuntu", 'Oswald', monospace;
}


/* Navbar */

#introNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--grey);
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
.navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-brand {
  img {
      height: 1.5rem;
  }
}

.navbar-nav {
    .nav-item {
        .nav-link {
            font-size: 1rem;
            color: var(--white);
            letter-spacing: 0.0252em;

            &.active,
            &:hover {
                color: var(--yellow);
            }
        }
    }
}

.alert {
  z-index: 9999;
}


/* Intro */

.Intro {
  padding-top: 10.5rem;
  padding-bottom: 1rem;
  text-align: center;
  background-image: url(../images/intro-img-2.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  filter: brightness(93%); 
}
.Intro-subheading {
  font-size: 3.5rem;
}
.Intro-heading,.Intro-subheading, p {
  color: var(--white);
}
.Intro-heading:first{
  margin: 1.5rem;
}
.second{
  margin-bottom: 1.5rem;
}
.Intro-heading {
  font-size: 1.5rem;
}
header p{
  margin-top: 2rem;
}
.log-btn {
  margin: 1.75rem;
}
.reg-link {
  color: var(--white);
  cursor: pointer;
}
.reg-link:hover {
  color: var(--yellow);
}
.white {
  color: var(--white);
}

/* Footer */
.footer {
  text-align: center;
  font-size: 1.2rem;
}

.yellow,.btn-social:hover,.footer-cont:hover {
  color: var(--yellow);
}

/* Button */
.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Oswald", 'Ubuntu', monospace;
  font-size: 1.125rem;
  font-weight: bold;
}

.log-btn:hover, .reg-btn:hover {
  background-color: var(--white);
  color: var(--blue);
}

.footer-cont, .web-name {
  font-weight: 700;
  font-size: 1.5rem;
}

/* Footer Links */
.btn-social {
  height: 2.85rem;
  width: 2.85rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.btn-social i {
  font-size: 24px;
}

.login-page, .register-page {
  padding-top: 4.5rem;
  padding-bottom: 2.9rem;
  text-align: center;
  background-image: url(../images/intro-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(93%); 
}
.login-page {
  padding-bottom: 11.2rem;
}
.reg-log-title {
  font-size: 56px;
  font-weight: 900;
}

.mess-1 {
  margin: 1.5rem auto 3rem auto;
  font-family: "Ubuntu", 'Oswald', monospace;
}
.mess-2 {
  margin-top: 1rem;
}

.form-floating, .form-group {
  margin: .5rem;
}

.black {
  color: #000;
  font-weight: 800;
}
.black a {
  color: #fff;
  text-decoration: none;
}
.black a:hover {
  color: var(--yellow);
  text-decoration: underline var(--white);
}
.form-signin {
  max-width: 430px;
  padding: 1rem;
}
.grey-container {
  max-width: 1000px;
  padding: 1rem;
  margin: auto;
  background-color: rgba(21, 21, 21, 0.311);
  border-radius: 15px;
}

.index-cont {
  overflow-x: hidden;
  background-image: url(../images/background-test-5.webp);
  background-size: cover;
}
.dash-section {
  padding-top: 8rem;
}
.welcome-msg {
  margin-top: .5rem;
  margin-bottom: 2rem;
  border: none;
}
.welcome-msg .card-body {
  border: 4px solid var(--blue);
  background-color: #9e9c9c4e;
}
.welcome-msg .card-title {
  font-size: 30px;
}
.welcome-msg .card-text {
  font-size: 20px;
}

#dashboard .dashboard-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#dashboard .dashboard-item .dashboard-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#dashboard .dashboard-item .dashboard-link .dashboard-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 200, 0, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#dashboard .dashboard-item .dashboard-link .dashboard-hover .dashboard-hover-content {
  font-size: 1.25rem;
  color: var(--white);
}
#dashboard .dashboard-item .dashboard-link:hover .dashboard-hover {
  opacity: 1;
}
#dashboard .dashboard-item .dashboard-caption {
  padding: .5rem;
  text-align: center;
}
#dashboard .dashboard-item .dashboard-caption .dashboard-caption-heading {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0;
  color: var(--white);
  background-color: #00000010;
  border-radius: 15px;
}
.img-fluid, .dashboard-hover {
  border-radius: 15px;
}

.welcome-msg {
  background-color: transparent;
}

#contact {
  background-image: url(../images/contact.jpg);
  height: 100vh;
}

#contact .container {
  padding-top: 6rem;
}
.form-group textarea {
  height: 128px;
}
.cont-us {
  margin-bottom: 4rem;
}
.contact-btn {
  margin-top: 4rem;
}


/* Media screen width equal to or greater than the xx-large breakpoint */
@media (min-width: 1400px) {
  
}

/* Media screen width equal to or greater than the x-large breakpoint */
@media (min-width: 1200px) {
    
}

/* Media screen width equal to or greater than the large breakpoint */
@media (min-width: 992px) {
  
}

/* Media screen width equal to or greater than the medium breakpoint */
@media (min-width: 768px) {
  
}

/* Media screen width equal to or greater than the small breakpoint */
@media (min-width: 576px) {
  
}