<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="welcome to CoreShare,a fun place to share good things about chrismas, Foods, presents, pictures. Try CoreShare!">
        <meta name="keywords" content="posts, fun, memories, fun, chrismas, ">
        <meta name="author" content="Esmael Pinho">
        <meta name="theme-color" content="#317EFB">

        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/524826ac04.js" crossorigin="anonymous"></script>

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

        <!-- My stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        
        <link rel="icon" type="image/x-icon" href="../static/images/top-logo.webp">
        <title>CoreShare</title>
    </head>
    <body>

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="introNav">
            <div class="container">
                {% if session.user %}
                    <a class="navbar-brand" href=""><img src="../static/images/nav-logo.webp" alt="CoreShare Logo" /></a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        {% if session.user %}
                            <li class="nav-item"><a class="nav-link" href="">Home <i class="fas fa-home"></i></a></li>
                            <li class="nav-item"><a class="nav-link" href="">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="">Log out</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            <div class="container">
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                <div class="row flashes">
                    <p>{{ message }}</p>
                </div>
                {% endfor %} {% endif %} {% endwith %}
            </div>
        </div>
        
        <main>
            {% block content %}
                <header class="Intro">
                    <div class="container">
                        <div class="Intro-subheading">Welcome To</div>
                        <div class="Intro-header-img"><img src="../static/images/Intro-logo.webp"></div> 
                        <div class="Intro-heading">Share your Christmas moments</div>
                        <div class="Intro-heading second"> with your community</div>
                        <a class="btn btn-primary btn-xl text-uppercase log-btn" href="{{ url_for('login') }}">Login</a>
                        <p class="text-center">Don't have an account yet? <a href="{{ url_for('register') }}" class="reg-link">Register Account</a></p>
                    </div>
                </header>
            {% endblock %}
        </main>

        <!-- Footer -->
        {% if session.user %}
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center sticky-bottom">
                    <div class="col-lg-4 text-lg-start">
                        <span class="bold yellow">CoreShare</span> <span> &copy; All rights reserved</span>
                    </div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Twitter"><i class="fab fa-twitter"></i>
                            <span class="sr-only">Twitter Link</span>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i>
                            <span class="sr-only">Facebook Link</span>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i>
                            <span class="sr-only">LinkedIn Link</span>
                        </a>
                        <a class="btn btn-dark btn-social mx-2" href="#" aria-label="Instagram"><i class="fab fa-instagram"></i>
                            <span class="sr-only">InstagramLink</span>
                        </a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">
                            <span class="bold footer-cont">Contact Us</span>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        {% endif %}
        <!-- Bootstrap Script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

        <!-- JQuery Library -->
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        
        <!-- My Script -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

        
    </body>
</html>