{% extends "base.html" %} 
{% block content %}

    <div class="index-cont">

        <section class="dash-section " id="dashboard">
            <div class="row justify-content-md-center mess-1 cat">
                <div class="card col-sm-12 col-md-7 col-lg-4 welcome-msg">
                    <div class="card-body">
                        <h4 class="card-title black text-center">Welcome {{ session['user'] }} !</h4>
                        <p class="card-text">Create categories for your Christmas moments
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{{ url_for('add_category') }}" class="btn btn-warning btn-xl text-uppercase submit-btn">Create a Category <i class="fas fa-plus-square right"></i></a>
                </div>
            </div>

            <div class="dashboard">
                <div class="row">
                    {% for category in categories|sort(attribute="created_at") %}
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="dashboard-item">
                                <a class="dashboard-link" data-bs-toggle="modal" href="#">
                                    <div class="dashboard-hover">
                                        <div class="dashboard-hover-content"><i class="fas fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    <img class="img-fluid object-fit-contain" src="{{ category.category_image_url }}" alt="{{ category.category_name }} Image">
                                </a>
                                <div class="dashboard-caption">
                                    {% if category.owner.user_name == session.user %}
                                        <div class="accordion" id="accordionCategory">
                                            <div class="accordion-item">
                                            <h2 class="accordion-header text-center">
                                                <button class="accordion-button collapsed yellow" type="button" data-bs-toggle="collapse" data-bs-target="#{{ category.id }}" aria-expanded="false" aria-controls="{{ category.id }}">
                                                    {{ category.category_name }}
                                                </button>
                                            </h2>
                                            <div id="{{ category.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionCategory">
                                                <div class="accordion-body">
                                                    <p>
                                                        <a href="#" class="btn btn-warning btn-sm text-uppercase submit-btn">Edit</a>
                                                        <a href="#" class="btn btn-warning btn-sm text-uppercase submit-btn modal-trigger">Delete</a>
                                                    </p>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="dashboard-caption-heading">{{ category.category_name }}<small>  By: <span class="yellow">{{ category.owner.user_name }}</span></small></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </section>
    </div>


{% endblock %}