{% extends "base.html" %} 
{% block content %}

    <div class="index-cont">

        <section class="dash-section " id="dashboard">
            <div class="row justify-content-md-center mess-1">
                <div class="card col-sm-12 col-md-7 col-lg-4 welcome-msg">
                    <div class="card-body">
                        <h4 class="card-title black text-center">Welcome {{ session['user'] }} !</h4>
                        <p class="card-text">You can view, your best christmas moments<br>
                            photos, cakes, stories and presents as well as someone elses.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{{ url_for('add_category') }}" class="btn btn-warning btn-xl text-uppercase submit-btn">Create a Category <i class="fas fa-plus-square right"></i></a>
                </div>
            </div>

            <div class="dashboard">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Dashboard posts-->
                        <div class="dashboard-item">
                            <a class="dashboard-link" data-bs-toggle="modal" href="#">
                                <div class="dashboard-hover">
                                    <div class="dashboard-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/food-test-1.jpg" alt="..." />
                            </a>
                            <div class="dashboard-caption">
                                <div class="dashboard-caption-heading">Food</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Dashboard posts-->
                        <div class="dashboard-item">
                            <a class="dashboard-link" data-bs-toggle="modal" href="#">
                                <div class="dashboard-hover">
                                    <div class="dashboard-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/presents.jpg" alt="..." />
                            </a>
                            <div class="dashboard-caption">
                                <div class="dashboard-caption-heading">Presents</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Dashboard posts-->
                        <div class="dashboard-item">
                            <a class="dashboard-link" data-bs-toggle="modal" href="#">
                                <div class="dashboard-hover">
                                    <div class="dashboard-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/Christmas-trees.jpg" alt="..." />
                            </a>
                            <div class="dashboard-caption">
                                <div class="dashboard-caption-heading">Christmas Trees</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Dashboard posts-->
                        <div class="dashboard-item">
                            <a class="dashboard-link" data-bs-toggle="modal" href="#">
                                <div class="dashboard-hover">
                                    <div class="dashboard-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/Christmas-stories.jpg" alt="..." />
                            </a>
                            <div class="dashboard-caption">
                                <div class="dashboard-caption-heading">Christmas Stories</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Dashboard posts-->
                        <div class="dashboard-item">
                            <a class="dashboard-link" data-bs-toggle="modal" href="#">
                                <div class="dashboard-hover">
                                    <div class="dashboard-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/Christmas-jokes.jpg" alt="..." />
                            </a>
                            <div class="dashboard-caption">
                                <div class="dashboard-caption-heading">Christmas Jokes</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Dashboard posts-->
                        <div class="dashboard-item">
                            <a class="dashboard-link" data-bs-toggle="modal" href="#">
                                <div class="dashboard-hover">
                                    <div class="dashboard-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/images/new-years-whishes.jpg" alt="..." />
                            </a>
                            <div class="dashboard-caption">
                                <div class="dashboard-caption-heading">New Years Wishes</div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </section>
    </div>


{% endblock %}