{% extends "base.html" %} 
{% block content %}

    <div class="index-cont">

        <section class="dash-section " id="category">
            <div class="row justify-content-md-center mess-1 cat">
                <div class="card col-sm-9 col-md-7 col-lg-5 welcome-msg ">
                    <div class="card-body">
                        <h4 class="card-title black text-center">Welcome {{ session['user'] }} !</h4>
                        <p class="card-text text-center">Create categories for your Christmas moments
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a href="{{ url_for('add_category') }}" class="btn btn-warning btn-xl text-uppercase submit-btn">Create a Category <i class="fas fa-plus-square right"></i></a>
                </div>
            </div>

            <div class="category">
                <div class="row justify-content-center">
                    {% for category in categories|sort(attribute="created_at") %}
                        <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4 mb-1">
                            <div class="category-item">
                                <a class="category-link" data-bs-toggle="modal" data-bs-target="#post-modal-{{ category.id }}" href="#">
                                    <div style="width: 416px; height: 324px;" class="category-hover">
                                        <div class="category-hover-content"><i class="fas fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    <img style="width: 416px; height: 324px;" class="" src="{{ category.category_image_url }}" alt="{{ category.category_name }} Image">
                                </a>
                                <div class="category-caption">
                                    {% if category.owner.user_name == session.user %}
                                        <div class="accordion" id="accordionCategory">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header text-center">
                                                    <button class="accordion-button collapsed yellow" type="button" data-bs-toggle="collapse" data-bs-target="#{{ category.id }}" aria-expanded="false" aria-controls="{{ category.id }}">
                                                        <h5>{{ category.category_name }}</h5>
                                                    </button>
                                                </h2>
                                                <div id="{{ category.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionCategory">
                                                    <div class="accordion-body text-center">
                                                        <p>
                                                            <a href="{{ url_for('edit_category', category_id=category.id) }}" class="btn btn-success btn-sm text-uppercase">Edit</a>
                                                            <!-- Button trigger modal -->
                                                            <button href="#" type="button" class="btn btn-danger btn-sm text-uppercase" data-bs-toggle="modal" data-bs-target="#modal-{{ category.id }}">
                                                                delete
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal-{{ category.id }}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="deleteModal" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-uppercase black" id="deleteModal">Are you sure you want<br>to delete this Category?</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5 class="black">This action cannot be undone.</h5>
                                                        <p class="text-uppercase black"><span class="bg-danger text-wrap">warning:</span> this will delete all posts within the category !</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="{{ url_for('delete_category', category_id=category.id) }}" class="btn btn-success btn-sm text-uppercase">Yes - Delete</a>
                                                        <button type="button" class="btn btn-danger btn-sm text-uppercase" data-bs-dismiss="modal">No - Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% else %}
                                        <div class="category-caption-heading">{{ category.category_name }}</div>
                                    {% endif %}
                                </div>

                                <!-- Modals to access posts, by category-->
                                <div class="category-modal modal fade" id="post-modal-{{ category.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-lg modal-xl">
                                        <div class="modal-content">
                                            <h1 class="text-center black bold">{{ category.category_name }}</h1>
                                            <div class="close-modal" data-bs-dismiss="modal"><img src="../static/images/close-icon.svg" alt="Close modal" /></div>
                                            <div class="container">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-11">
                                                        <div class="modal-body">
                                                            <!-- Post details-->
                                                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                                                {% for post in category.posts %}
                                                                    <div class="col">
                                                                        <div class="card h-100">
                                                                            <img style="height: 350px;" src="{{ post.post_image_url }}" class="card-img-top" alt="{{ post.post_name }}">
                                                                            <div class="card-body">
                                                                                <h5 class="card-title black text-wrap bg-warning">{{ post.post_name }}</h5>
                                                                                <p class="card-text black">{{ post.post_description }}</p>
                                                                            </div>
                                                                            <div class="card-footer">
                                                                                <small class="text-body-secondary">
                                                                                    <ul class="list-inline">
                                                                                        <li>
                                                                                            <strong>By:</strong>
                                                                                            {{ post.author.user_name }}
                                                                                        </li>
                                                                                        <li>
                                                                                            <strong>At:</strong>
                                                                                            {{ post.created_at.strftime('%Y-%m-%d') }}
                                                                                        </li>
                                                                                    </ul>
                                                                                </small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-warning btn-xl text-uppercase close-posts-modal" data-bs-dismiss="modal" type="button">
                                                                <i class="fas fa-xmark me-1"></i>
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </section>
    </div>


{% endblock %}