{% extends "base.html" %}
{% block content %}

<div class="main">
    <div class="container profile-container">
        <h1 class="text-center first-text">{{ session['user'] }}'s posts</h1>
        <div class="row justify-content-md-center ">
            <div class="card col-sm-12 col-md-7 col-lg-4 welcome-msg">
                <div class="card-body">
                    <p class="card-text">Create and share with others what you doing for Christmas</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a href="{{ url_for('add_post') }}" class="btn btn-warning btn-xl text-uppercase submit-btn">Create a Post <i class="fas fa-plus-square right"></i></a>
            </div>
        </div>
        
        <div class="container">
            <div id="post-container" class="row justify-content-center">
                {% for post in posts %}
                    <div class="col-sm-12 col-md-10 col-lg-8">
                        <div class="accordion" id="accordionPost{{ post.id }}">
                            <div class="accordion-item">
                                <h3 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePost{{ post.id }}" aria-expanded="true" aria-controls="collapsePost{{ post.id }}">
                                        {% if loop.last %}
                                            <i class="fas fa-exclamation-circle"></i> 
                                        {% endif %}
                                        <strong> {{ post.post_name }}</strong>-  <small> Created at: {{ post.created_at.strftime('%Y-%m-%d') }}</small> 
                                    </button>
                                </h3>
                                <div id="collapsePost{{ post.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionPost{{ post.id }}">
                                    <div class="accordion-body">
                                        <h5>{{ post.post_description }}</h5>
                                        <div class="row justify-content-center text-center">
                                            <div class="col">
                                                <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-success btn-sm text-uppercase">Edit</a>
                                                <button type="button" class="btn btn-danger btn-sm text-uppercase" data-bs-toggle="modal" data-bs-target="#modal-{{ post.id }}">
                                                    delete
                                                </button>
                                            </div>
                                        </div>
                                        <h6 class="black for-category">For Category: <smal class="green"> {{ post.category.category_name }}</smal></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{ post.id }}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="deleteModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-uppercase black" id="deleteModal">Are you sure you want<br>to delete this Post?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5 class="black">This action cannot be undone.</h5>
                                    <p class="text-uppercase black"><span class="bg-danger text-wrap">warning:</span> this will delete all posts with name: {{ post.post_name }} !</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-success btn-sm text-uppercase">Yes - Delete</a>
                                    <button type="button" class="btn btn-danger btn-sm text-uppercase" data-bs-dismiss="modal">No - Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    
</div>



{% endblock %}